* {
    margin: 0;
}

header {
    text-align: center;
    color: white;
    font-size: 42pt;
    font-family: orbitron;
}

body {
    background-color: black;
}

#filmList {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

figure {
    margin: 1em;
}

figcaption {
    font-size: 1.25em;
    text-align: center;
    font-family: orbitron;
    background-color: black;
    color: white;
}