:root {
    --blue-gray: #3A5578;
    --teal-gray: #4d6976;
    --forrest-green: #374025;
    --dark-green: #1D2710;
    --gray: #bfbfbf;
    --light-gray: #d9d9d9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
}

#navbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    background-color: var(--dark-green);
}

.navlist {
    display: flex;
    list-style: none;
    
}

.navlist a {
    display: block;
    font-size: 1.5em;
    padding: .75em .5em;
    color: var(--light-gray);
}

.navlist a:hover {
    background-color: var(--teal-gray);
    color: var(--dark-green);
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-gray);
    color: var(--light-gray);
    width: 100%;
    height: 100vh;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--light-gray);
    height: 600px;
}

.project-tile {
    margin: 1.25em;
}

.project-tile:hover {
    color: var(--teal-gray);
}

figcaption {
    text-align: center;
}

figcaption > span {
    font-size: 1.25em;
}

#contact {
    color: var(--gray);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--forrest-green);
    height: 300px;
}

.contact-links {
    display: flex;
    justify-content: space-around;
}

.contact-links a {
    margin: 1em;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--dark-green);
    color: var(--gray);
    height: 65px;
}

a {
    text-decoration: none;
}

@media (max-width: 1200px) {
    html {
        font-size: 100%;
    }
}

@media (max-width: 980px) {
    html {
        font-size: 80%;
    }
}

@media (max-width: 500px) {
    html {
        font-size: 50%;
    }
}